bin/
lastgood*.txt
lastresponse*.txt
log/
target
build/feedproxy/feedproxy
webclient/node_modules/

# Secrets
*.pem
secrets.sh

# Local binaries
kubectl
install-ssl

# Archives
*.zip
*.tar.gz

# Editor backups
*~

# Other
src/httptest.rs
