<html>
  <head>
    <title>
      TrainTrack
    </title>
    <link rel="stylesheet" type="text/css" href="/style.css">
  </head>
  <body>
    <ul>
      <li><a href="/debug">/debug</a></li>
      <li><a href="/stations">/stations</a></li>
      <li><a href="/singlepage">/singlepage</a></li>
      <!--li><a href="/hack559/UPTOWN">/hack559/UPTOWN</a></li>
      <li><a href="/hack559/DOWNTOWN">/hack559/DOWNTOWN</a></li-->
      <li><a href="http://apps.mta.info/traintime/">MTA Subway Time</a>
    </ul>
    <p>
      <span class="update_info{% if update_timestamp_age_seconds > 1800 %} very_old{% elsif update_timestamp_age_seconds > 900 %} old{% endif %}">
        Data updated {{ update_timestamp_age_seconds | divided_by: 60 }} minutes ago (at {{ update_timestamp }})<br>
      </span>
      Last attempted fetch at: {{ any_fetch_timestamp }}<br/>
      Last successful fetch at: {{ good_fetch_timestamp }}
    </p>
