<html>
  <head>
    <title>Station {{ station.name }}</title>
    <link rel="stylesheet" type="text/css" href="/style.css">
  </head>
  <body>
    <h1>Station {{ station.name }}</h1>
    {% for route in routes %}
      <h2>{{ route.id }} </h2>
      {% for train_dir in route.trains_by_direction %}
        <h3>{{ train_dir.direction }}</h2>
        <ul>
          {% for arrival in train_dir.arrivals %}
            <li {% if arrival.timestamp < now %}class="past"{% endif %}>{{ arrival.pretty_time }}</li>
          {% endfor %}
        </ul>
      {% endfor %}
    {% endfor %}
  </body>
</html>
