<html>
  <head>
    <title>Stops</title>
    <link rel="stylesheet" type="text/css" href="/style.css">
  </head>
  <body>
    <script type="text/javascript">
     var toggleVisibility = function(divId) {
       var element = document.getElementById(divId);
       if (element.style.display == "none") {
         element.style.display = "block";
       } else {
         element.style.display = "none";
       }
     };
    </script>
    <div class="routeMenu">
      {% for route in routes %}
        <a style="background-color: #{{ route.route_color }}" href=javascript:toggleVisibility("route_{{route.route_id}}");>{{ route.route_id }}</a>
      {% endfor %}
    </div>

    {% for route in routes %}
      <div id="route_{{route.route_id}}" style="display: none;">
        <ul>
          {% for stop in route.stops %}
            <li><a href="/station/{{ stop.id }}/{{ route.route_id }}">{{ stop.name }}</a> [<a href="/station/{{stop.id}}">All routes</a>]</li>
          {% endfor %}
        </ul>
      </div>
    {% endfor %}
  </body>
</html>
